body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:16px;
}
.nopadding{padding:0 !important}
h2{margin-top:0}
.navbar-static-top{
    min-height:95px
}
.row,.navbar-right{
    margin-left:0;
    margin-right:0;
}
.navbar:first-child{margin-bottom: 0}
.cursor-pointer{
    pointer:cursor
}
.navbar-brand{padding:0}
.fa-check-circle{color:#228B22;  font-size:1.2em}
.fa-times-circle{color:	#B22222;  font-size:1.2em}
.margin-bottom{margin-bottom:10px}
.remove-filhos:first{
    display:none;
}

@media (max-width: 767px) {
    h2{font-size: 1.5em}
    .navbar-header, .navbar-right li{float:left}
    .navbar-right {float:right}
    #menu-horizontal button{ margin-left: 15px;}
}

@media (min-width: 1024px) {
    .listagem .caption .row {
        position: absolute;
        bottom: 0;
        width: 92%;                
    }
.listagem .thumbnail{position:relative; height: 370px}
.listagem .thumbnail .caption {
    padding: 9px 5px;
    color: #636b6f;
}    
}
