<template>
    <div class="corpo">
        <h1 class="centralizado">{{ titulo }}</h1>
        <ul class="lista-fotos">
            <li class="lista-fotos-item" v-for="foto of fotos" :key="foto._id">
                <p>{{ foto.nome }}</p>
                <meu-painel :titulo="foto.titulo" name="teste">
                    <img :src="foto.url" :alt="foto.titulo" class="imagem-responsiva">
                </meu-painel>
            </li>
        </ul>
    </div>
</template>

<script>
import Painel from './shared/Painel.vue';
export default {
    components: {
        'meu-painel':Painel,
    },
    name:'fotos',
    data() {
        return {
            titulo:'Teste AD ao Unico',
            fotos: []
        }
    },
    created() {
        this.$http.get("/api/membros").
        then(res => {
            this.fotos = res.data;
            console.log(res.data);
        }, err => console.log(err));
    }

}
</script>

<style>
  .corpo {
    font-family: Helvetica, sans-serif;
    width: 96%;
    margin: 0 auto;
  }

  .centralizado {

    text-align: center;
  }

  .lista-fotos {
    list-style: none;
  }

  .lista-fotos .lista-fotos-item {
    display: inline-block;
  }

  .imagem-responsiva {

    width: 100%;
  }
</style>
